<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons >
    <ion-title>
      {{todo ?'edit todo' : 'new todo'}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 
    
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-sm="12" size-md="6">
        <form [formGroup]="form">
          <ion-item>
            <ion-input formControlName="title" type="text" placeholder="title"></ion-input>
            
          </ion-item>
        
          <ion-item>
            <ion-textarea text-align="center" formControlName="desc" rows="1" autoGrow placeholder="Description"></ion-textarea>
          
          </ion-item>
        </form>
        <ion-button class="ion-margin-top" expand="block" mode="ios" shape="round"
        [disabled]="!form.valid" (click)="saveTodo()">
          Save
        </ion-button>

      </ion-col>
    </ion-row>
</ion-content>
