h2{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
p{
    font-size: 1.5rem;
    color: gray;
    text-align: center;
}
.form{
    margin-top: 8rem;
}
ion-button{
    margin-top: 2rem;
}