
<ion-content class="ion-padding">

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-sm="12" size-md="6">

      <h2>MY TODO</h2>
 <p>sign in to continue</p>
 <div class="form">
<form [formGroup]="form">
  <ion-item>
    <ion-input formControlName="username" type="text" placeholder="user name"></ion-input>
    <ion-icon name="person-outline" slot="start"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-input formControlName="password" type="password" placeholder="password"></ion-input>
    <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
  </ion-item>
</form>
<ion-button expand="block" mode="ios" shape="round"
[disabled]="!form.valid" (click)="submit()">
  Login
</ion-button>

 </div>
    </ion-col>
  </ion-row>

 
</ion-content>
