<ion-header>
  <ion-toolbar color="primary">
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

<!-- start loading spinner -->
<ion-row class="ion-justify-content-center ion-align-items-center height" *ngIf="loading">
  <ion-col size="auto">
    <ion-spinner></ion-spinner>
  </ion-col>
</ion-row>

<!-- end loading spinner -->

  <!-- start ion refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)" >
  <ion-refresher-content></ion-refresher-content> 
  </ion-refresher>
  <!-- end ion refresher -->
  <!-- start home content -->
  <ion-row class="ion-justify-content-center" *ngIf="todos">
    <ion-col size="12" size-sm="12" size-md="6">

     <ion-card *ngFor="let todo of todos; let i=index">
      <ion-item lines="none"> 
       <div class="index" slot="start">
         {{i+1}}
       </div>
      
         <ion-label (click)="showDetails(todo)">
           <h2><ion-text>{{todo.title}}</ion-text></h2>
           <p><ion-text>{{todo.desc}}</ion-text></p>
         </ion-label>

         <ion-button color="danger" fill="clear" (click)="delete(i)" slot="end">
           <ion-icon name="trash" slot="icon-only"></ion-icon>
         </ion-button>

         <ion-button color="secondary" fill="clear" (click)="edit(todo)" slot="end">
          <ion-icon name="create" slot="icon-only"></ion-icon>
        </ion-button>
       </ion-item>
     </ion-card>

    </ion-col>

  </ion-row>
  <!-- end home content -->

  <!-- start ion fan -->
  <ion-fab horizontal="end" vertical="bottom" slot="fixed"> 
    <ion-fab-button (click)="createTodo()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- end ion fab -->

  <!-- start ion-infinite -->
  <ion-infinite-scroll threshold="25%" position="bottom" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!-- end ion-infinite -->
</ion-content>
